h1
{
  margin: 50px auto 0 auto;
  font-size: 3rem;
  color: #40514E;
}
h2
{
  color: #40514E;

}
body
{
  text-align: center;
  margin: 0 auto 0 auto;
}
p{
  font-family: 'Ubuntu', sans-serif;

}
hr
{
  padding-top: 20px;
  border: 10px dotted ;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  width: 10%;
  color: #444F5A;
}
.prog{
  font-family: 'Anaheim', sans-serif;
  color: #40514E;
  text-decoration:underline;
  font-weight: bolder;
  font-size: 1.5rem;
}

.name
{
  font-family: 'New Tegomin', serif;
}
.mountain-img
{
  width: 50%;
}
.top-container{
  background-color: #E4F9F5;
  position: relative;
  padding: 60px;
}
.middle-container{
  margin-top: 10px;
}
.top-cloud{
  position: absolute;
  right: 300px;
  top:40px;
  margin-bottom: 10px;
  padding: 10px;
}
.bottom-cloud{
  position: absolute;
  left:200px;
  top: 250px;
  }
/*.contact-img{
  padding-bottom: 30px;
}*/

.intro-txt{
  text-align: left;
  line-height: 1.5;
}
.skills
{
  width: 50%;
}
.btn {
  -webkit-border-radius: 35;
  -moz-border-radius: 35;
  border-radius: 35px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  background: #21a6e8;
  padding: 8px 20px 10px 20px;
  border: dotted #ffffff 0px;
  text-decoration: none;
}

.btn:hover {
  background: #5e8ca8;
  text-decoration: none;
}

.bottom-container{
  margin-top: 30px;
}
.hobby{
  max-width: 128px;
  height: auto;

}
.hobby-text{
  text-align: left;
}
.book-text{
  text-align: left;
}
img{
  padding-bottom: 20px;
  padding-top: 10px;

}
